<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar com Pesquisa</title>
    <link rel="stylesheet" href="css/home.css" />
</head>
<body>
<div id="navlist">
    <div class="logo">
        <!-- Substitua o src pelo caminho do seu logo -->
        <img src="caminho_para_seu_logo.png" alt="Logo" style="height: 40px" />
    </div>
    <div class="search">
        <form action="#">
            <input type="text" placeholder=" Search Courses" name="search" />
        </form>
    </div>
    <div class="cart">
        <!-- Substitua isso por um ícone de carrinho real ou imagem -->
        <span>🛒 Carrinho</span>
    </div>
</div>

<div class="green-background">
    <h1>Syncfy</h1>
    <h2>Orçamento automatizado é aqui</h2>
    <img class="dinheiro" src="images/Imagem1.png" alt="Paris" />
</div>
<section class="secao4" id="sobre">
    <strong class="categoria">Categorias</strong>
    <div class="secao4-div">
        <div class="secao4-div-card">
            <img
                    decoding="async"
                    src="images/carousel-desktop.png"
                    alt="imagem do card 1 html e css"
            />
            <b>Notebook ThinkPad</b>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam,
                provident.
            </p>
        </div>
        <div class="secao4-div-card">
            <img
                    decoding="async"
                    src="images/carousel-desktop.png"
                    alt="imagem do card 2 html e css"
            />
            <b>Notebook ThinkPad</b>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam,
                provident.
            </p>
        </div>
        <div class="secao4-div-card">
            <img
                    decoding="async"
                    src="images/carousel-network.png"
                    alt="imagem do card 3 html e css"
            />
            <b>Cabo de rede.</b>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam,
                provident.
            </p>
        </div>
    </div>
</section>
<button class="busc">Buscas produto</button>
<div class="text">
    <p>Bem-vindo, Victor</p>
</div>
</body>
</html>
