<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syncfy</title>
    <link rel="stylesheet" href="css/register.css">
    <link rel="shortcut icon" href="images/logo-branco.jpg">
</head>
<body>
<div class="container">
    <form class="form" id="cadastroForm" action="/company" method="post">
        <h2>Cadastro</h2>
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
        </div>
        <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <input type="text" id="tipo" name="tipo" required>
        </div>
        <div class="form-group">
            <label for="cnpj">CNPJ:</label>
            <input type="text" id="cnpj" name="cnpj" required>
        </div>
        <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>
        </div>
        <div class="form-group">
            <button type="button" onclick="cadastrar()">Cadastrar</button>
        </div>
    </form>
</div>

<script>
    function cadastrar() {
        var form = document.getElementById('cadastroForm');
        var formData = new FormData(form);
        var jsonData = {};

        formData.forEach(function(value, key) {
            jsonData[key] = value;
        });

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/company');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
            if (xhr.status === 201) {
                // Cadastro realizado com sucesso
                window.location.href = "login.html";
            } else {
                // Tratar erros
                console.error('Erro ao cadastrar:', xhr.responseText);
            }
        };
        xhr.send(JSON.stringify(jsonData));
    }
</script>
</body>
</html>
