#navlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #00d900;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 20px; /* Adiciona um pouco de espaço nas laterais */
}

.logo img {
  height: 40px; /* Ajuste conforme necessário */
}

.search input[type="text"] {
  width: 500px; /* Ajuste conforme necessário */
  height: 35px;
  border-radius: 25px;
  border: none;
  padding-left: 10px; /* Para não colar o texto no início do campo */
}

.cart span {
  cursor: pointer;
  /* Estilize conforme necessário */
}

.search {
  margin: 0 auto;
}
.text {
  font-size: 20px;
  margin-left: 10px;
  margin-top: -770px;
  color: black;
  font-weight: 900;
}

.green-background {
  width: 1200px;
  height: 210px;
  margin-left: 70px;
  margin-top: 70px;
  border-radius: 25px;
  background-color: #00d900;
}
.green-background h1 {
  font-size: 80px;
  color: black;
  font-weight: extra-bold;
  margin-left: -390px;
  text-align: center;
}
.green-background h2 {
  margin-left: -390px;
  font-size: 30px;
  color: white;
  font-weight: 900;
  text-align: center;
}
.dinheiro {
  text-align: center;
  margin-top: -600px;
  width: 200px;
  height: 200px;
  margin-left: 800px;
}
.categoria {
  font-size: large;
  font-size: 30px;
  margin-left: 70px;
}
.secao4 {
  margin: 0;
  font-family: Helvetica, sans-serif;
}
.secao4-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  text-align: center;
}
.secao4-div-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3 - 95px);
  margin: 10px;
  box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s ease;
  border: 1px solid black;
}
.secao4-div-card:hover {
  transform: scale(1.1);
  z-index: 1;
}
.secao4-div-card img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.secao4-div-card b {
  padding-top: 10px;
  font-size: 18px;
}
.secao4-div-card p {
  padding-top: 5px;
  font-size: 12px;
  opacity: 90%;
}
.secao4-div-card h3 {
  margin-bottom: 0px;
}
.busc {
  margin: 50px auto;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: #00d900;
  text-align: center;
  display: block;
  border: 1px solid black;
}
